<div class="container py-5 d-flex flex-column p-2 bd-highlight align-items-center">
  
  <h1>URL Shortener</h1>
  <i class="fas fa-link fa-10x"></i>

  <form method="POST" action="/"></form>
  <input type="text" name="url" class="form-control my-3" placeholder="Input URL here">
  <button type="submit" class="btn btn-outline-info">Shorten</button>
  </form>
</div>